{{!--
    Global Template: Cross Domain ID

    This global template creates an iframe passing the id param in the URL. 
    The intention is that if you id someone in domain A, it will send the id to domain B to 
    close the gap of not supporting third party cookies for domains of the same company.

    Requirements:
    1) At least one available content zone with a selector of "body".

    Notes:

--}}

<div class="istpl-crossdomainid" 
    data-evg-campaign-id="{{campaign}}"
    data-evg-experience-id="{{experience}}" 
    data-evg-user-group="{{userGroup}}"
    style="display:none">
    <iframe id="istpl-iframe" src="{{targetURL}}" style="display:none"></iframe>
</div>


